// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Date range picker
@import '~daterangepicker/daterangepicker.css';

nav {
    @extend .mb-2;
}

footer {
    @extend .mt-3;
    @extend .small;
    @extend .text-muted;
}

.card {
    .header-image {
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        position: relative;
        height: 350px;
    }

    .header-text {
        position: absolute;
        bottom: 0;
        width: 100%;

        background: rgba(255, 255, 255, 0.6);

        @include media-breakpoint-up(lg) {
            background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0) 60%);
        }

        padding: 0.5rem 3rem;
        text-align: left;
        color: $black;

        h2 {
            margin-bottom: 0;

            a {
                color: $black;
            }
        }

        p {
            font-size: 90%;
            margin-bottom: 0;
        }
    }
}

.admin-cards {
    text-align: center;

    a:hover {
        text-decoration: none;
    }

    .card-title {
        font-size: 4rem;
    }

    .card-body {
        font-size: 8rem;
    }
}
